<<<<<<< HEAD
=======
p {
    color:chartreuse;
}

>>>>>>> f3243537018a53dee074c29827fd1e375c168f2c
#game {
    background-color: lightgray;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {
    background-color: lightslategray(200, 100%, 50%);
    border: .25vmin;
}

.food {
    background-color: #DC143C(50, 100%, 50%);
}