body {
    background-color: rgb(14, 19, 37);
    color: white;
}

h1 {
    color: white;
    font-weight: normal;
    font-family: Verdana;
}

table {
    padding: 15px;
    font-size: 12px;
}

label {
    color: white;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid #0ed4db;
    font-size: 16px;
    border-radius: 5px;
}

.login {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;
    text-align: center;
    width: 60%;
    
    padding: 10px;
}

.loginButton {
    margin: auto;
    width: 60%;
    padding: 10px;
}